*{
    box-sizing: border-box;
    margin: 0;
}

main{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.game{
    display: flex;
    background: green;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.used{
    background: red;
    color: white;
}